* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}
/*Organização*/
body {
    color: #00ff80;
    background-color: black;

}
/*Organização*/
nav {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;

}
/*Organização*/
nav a {
    text-decoration: none;
    color: springgreen;
    cursor: pointer;

}
/*Organização*/
nav a:hover {
    color: #fff;
}
/*Organização*/
nav ul {
    list-style-type: none;
    cursor: pointer;

}
/*Organização*/
.container {
    padding: 0px 50px;

}
/*Organização*/
header img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 5px solid rgba(25, 251, 138, 0.882);
    
}
/*Organização*/
.imagem-header {
    text-align: center;
    padding-top: 55px;

}
/*Organização*/
h1 {
    text-transform: uppercase;
    text-align: center;
    padding: 0px 0px 0px;
    margin-top: 5px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    font-size: 30px;
    border: none;

}
/*Organização*/
h1 a {
    color: springgreen;
    text-decoration: none;

}
/*Organização*/
h1 a:hover {
    color: #fff;
    cursor: pointer;

}
/*Organização*/
h2 {
    text-transform: uppercase;
    text-align: center;
    padding: 0px 0px 0px;
    margin: 5px;
    font-size: 20px;
    border: none;
    color: #fff;
    padding-bottom: 45px;

}
/*Organização*/
h3 {
    color: #fff;
    text-transform: uppercase;
    font-size: 22px;
    font-style: italic;
    padding-bottom: 22px;
    padding-top: 28px;

}
/*Organização*/
p {
    color: rgb(203, 212, 220);
    
}
/*Organização*/
p a {
    color: springgreen;

}
/*Organização*/
p a:hover {
    color: blueviolet;

}
/*Organização*/
footer {
    background-color: black;
    height: auto;
    font-family: "Open Sans";
    padding-top: 40px;
    color: #fff;

}
/*Organização*/
.footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;

}
/*Organização*/
.sociais {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0.9rem 0 0.9rem 0;

}
/*Organização*/
.sociais li {
    margin: 0 10px;

}
/*Organização*/
.sociais a {
    text-decoration: none;
    color: #fff;

}
/*Organização*/
.sociais a i {
    font-size: 1.1rem;
    transition: color .4s ease;

}
/*Organização*/
.sociais a:hover i {
    color: springgreen;
    
}
/*Organização*/
footer p{
    font-size: 12px;
    padding-top: 0px;
    padding-bottom: 15px;
    margin-top: 0px;

}
/*Organização*/
footer a:hover {
    color: blueviolet;

}