* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}
/*Organização*/
body {
    color: springgreen;
    background-color: black;

}
/*Organização*/
nav {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;

}
/*Organização*/
nav a {
    text-decoration: none;
    color: springgreen;
    cursor: pointer;

}
/*Organização*/
nav a:hover {
    color: blueviolet;

}
/*Organização*/
nav ul {
    list-style-type: none;
    cursor: pointer;

}
/*Organização*/
.container {
    padding: 0px 50px;

}
/*Organização*/
header img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 5px solid rgba(25, 251, 138, 0.882);
    
}
/*Organização*/
.imagem-header {
    text-align: center;
    padding-top: 55px;

}
/*Organização*/
h1 {
    text-transform: uppercase;
    text-align: center;
    padding: 0px 0px 0px;
    margin-top: 5px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    font-size: 30px;
    border: none;

}
/*Organização*/
h1 a {
    color: springgreen;
    text-decoration: none;

}
/*Organização*/
h1 a:hover {
    color: blueviolet;
    cursor: pointer;

}
/*Organização*/
h2 {
    text-transform: uppercase;
    text-align: center;
    padding: 0px 0px 0px;
    margin: 5px;
    font-size: 20px;
    border: none;
    color: #fff;
    padding-bottom: 45px;

}
/*Organização*/
h3 {
    color: #fff;
    padding-top: 55px;
    text-transform: uppercase;
    text-align: center;
    text-decoration: underline;
    font-style: italic;

}
/*Organização*/
.relogio-digital h4 {
    font-size: 27px;
    padding-top: 55px;
    padding-bottom: 20px;
    
}
/*Organização*/
.relogio-digital p {
    color: rgba(240, 248, 255, 0.9);

}
/*Organização*/
.relogio-digital a {
    text-decoration: none;
    color: springgreen;
    
}
/*Organização*/
.relogio-digital a:hover {
    color: blueviolet;

}
/*Organização*/
.relogio-digital img {
    width: 310px;
    height: 170px;
    padding-top: 27px;
    display: block;
    margin-left: auto;
    margin-right: auto;

}
/*Organização*/
.pagina-de-registro h4 {
    font-size: 27px;
    padding-top: 55px;
    padding-bottom: 20px;
    
}
/*Organização*/
.pagina-de-registro p {
    color: rgba(240, 248, 255, 0.9);

}
/*Organização*/
.pagina-de-registro a {
    text-decoration: none;
    color: springgreen;
    
}
/*Organização*/
.pagina-de-registro a:hover {
    color: blueviolet;

}
/*Organização*/
.pagina-de-registro img {
    width: 310px;
    height: 200px;
    padding-top: 27px;
    padding-bottom: 27px;
    display: block;
    margin-left: auto;
    margin-right: auto;

}
/*Organização*/
hr {
    padding-bottom: 20px;
    margin: 0px;
    border-left: 0px;
    border-right: 0px;
    
}
/*Organização*/
.pos-projeto p {
    color: aliceblue;
    text-align: center;

}
/*Organização*/
.pos-projeto a {
    color: springgreen;

}
/*Organização*/
.pos-projeto a:hover {
    color: blueviolet;
    cursor: pointer;

}
/*Organização*/
footer {
    background-color: black;
    height: auto;
    font-family: "Open Sans";
    padding-top: 40px;
    color: #fff;

}
/*Organização*/
.footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;

}
/*Organização*/
.sociais {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0.7rem 0 0.7rem 0;

}
/*Organização*/
.sociais li {
    margin: 0 10px;

}
/*Organização*/
.sociais a {
    text-decoration: none;
    color: #fff;

}
/*Organização*/
.sociais a i {
    font-size: 1.1rem;
    transition: color .4s ease;

}
/*Organização*/
.sociais a:hover i {
    color: springgreen;
    
}
/*Organização*/
footer p{
    font-size: 11px;
    padding-top: 0px;
    padding-bottom: 15px;
    margin-top: 0px;

}
/*Organização*/
footer a {
    color: springgreen;

}
/*Organização*/
footer a:hover {
    color: blueviolet;

}