* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}

body {
    color: springgreen;
    background-color: black;

}

nav {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;

}

nav a {
    text-decoration: none;
    color: springgreen;
    cursor: pointer;

}

nav a:hover {
    color: #fff;
}

nav ul {
    list-style-type: none;
    cursor: pointer;

}

.container {
    padding: 0px 50px;

}

header img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 5px solid rgba(25, 251, 138, 0.882);
    
}

.imagem-header {
    text-align: center;
    padding-top: 55px;

}

h1 {
    text-transform: uppercase;
    text-align: center;
    padding: 0px 0px 0px;
    margin-top: 5px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    font-size: 30px;
    border: none;

}

h1 a {
    color: springgreen;
    text-decoration: none;

}

h1 a:hover {
    color: #fff;
    cursor: pointer;

}

h2 {
    text-transform: uppercase;
    text-align: center;
    padding: 0px 0px 0px;
    margin: 5px;
    font-size: 20px;
    border: none;
    color: #fff;
    padding-bottom: 70px;

}

hr {
    border-color: springgreen;
    
}

form {
    align-items: center;
    justify-content: center;
    text-align: center;

}

form input {
    align-items: center;
    justify-content: center;
    display: inline;

}

form p {
    padding-top: 15px;
    padding-bottom: 10px;

}


form p .mensagem {
    padding-left: 49px;

}

.mensagem input {
    padding-bottom: 70px;
    padding-right: 70px;
}

input {
    display: flex;
    flex-direction: column;
    padding: 5px;
    border: 2px solid springgreen;
    border-radius: 10px;
    box-shadow: 4.5px 1.5px rgba(70, 221, 146, 0.773);
    
}

textarea {
    padding: 5px;
    border: 2px solid springgreen;
    border-radius: 10px;
    box-shadow: 4.5px 1.5px rgba(70, 221, 146, 0.773);

}



label {
    padding-top: 15px;
    text-align: center;

}

button {
    display: inline;
    justify-content: center;
    background-color: springgreen;
    font-size: 25px;
    border: 2px solid springgreen;
    border-radius: 10px;
    box-shadow: 1px 1px 5px rgb(255, 255, 255);
    width: 128.1px;
    height: 47.2px;
    text-transform: uppercase;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}


footer {
    background-color: black;
    height: auto;
    font-family: "Open Sans";
    padding-top: 40px;
    color: #fff;

}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;

}

.sociais {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0.9rem 0 0.9rem 0;

}

.sociais li {
    margin: 0 10px;

}

.sociais a {
    text-decoration: none;
    color: #fff;

}

.sociais a i {
    font-size: 1.1rem;
    transition: color .4s ease;

}

.sociais a:hover i {
    color: springgreen;
    
}

footer p{
    font-size: 12px;
    padding-top: 0px;
    padding-bottom: 15px;
    margin-top: 0px;

}

footer a {
    color: springgreen;
}

footer a:hover {
    color: blueviolet;

}